html {
  --primary-background: hsl(6, 93%, 71%);    /* salmon color */
  --title-background: hsl(66, 93%, 24%);
  --hover-background: hsl(0, 100%, 25%);
  --primary-text: hsl(0, 50%, 13%);
  --bright-text: hsl(0, 0%, 100%);

  color: var(--primary-text);
  background-color: var(--primary-background);
  font-family: 'Times New Roman', Times, serif;
}
body {
  text-align: center;
  font-size: 1rem;
  margin: 0px;
}
header {
  color: var(--bright-text);
  background-color: var(--primary-background);
  width: 100%;
  padding: 8px;
  opacity: 1;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  z-index: 50;
}
.gap-filler {
  position: fixed;
  height: 2em;
  top: -1em;
  width: 100%;
  z-index: 45;
}
#header-img {
  margin: 0px 8px 0px 0px;
  padding: 0px;
}
.title {
  color: var(--bright-text);
  background-color: var(--title-background);
  padding: 0px 15px 0px 15px;
  min-height: 2.25em;
}
h1 {
  font-size: 3em;
  margin: 0;
  padding-top: 1em;
}
#nav-bar {
  color: var(--bright-text);
  font-family: cursive;
  font-size: 1.5em;
  margin-right: 8px;
  padding: 0.25em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.nav-link-container {
  margin: 0px 0px 8px 0px;
  width: 100%;
}
.nav-link {
  color: var(--primary-text);
  text-decoration: none;
}
.nav-link:hover, .nav-link-container:hover,
.nav-link:active, .nav-link-container:active {
  color: var(--bright-text);
  background-color: var(--hover-background);
  text-decoration: underline;
}
.href {
  display: block;
  position: relative;
  top: -190px;
  visibility: hidden;
}
main {
  position: absolute;
  top: 160px;
}
h2 {
  font-size: 2.5em;
}
figcaption {
  font-family: monospace;
  font-size: 1.5em;
}
.form-container {
  color: var(--bright-text);
  background-color: var(--primary-text);
  font-family: sans-serif;
  padding: 0.5em;
}
#about-salmon, #choose-salmon, #love-salmon {
  margin: 0 auto;
  width: 95%;
}
dt {
  color: var(--bright-text);
  background-color: var(--primary-text);
  line-height: 200%;
}
@media (max-width: 693px) {
  h1 {
    padding-top: 0.5em;
  }
  #nav-bar {
    font-size: 1.25em;
  }
  main {
    top: 140px;
  }
}
@media (max-width: 661px) {
  header {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #nav-bar {
    flex-direction: row;
  }
  main {
    top: 200px;
  }
}
@media (max-width: 495px) {
  header {
    flex-flow: column nowrap;
    align-items: center;
  }
  h1 {
    padding-top: 0em;
  }
  main {
    top: 300px;
  }
}
