html {
  --main-background: hsl(200, 67%, 76%);
  --h2etc-background: hsl(50, 100%, 80%);
  --card-background: hsl(200, 90%, 76%);
  --main-fg: hsl(0, 0%, 0%);
  --h1-color: hsl(0, 0%, 100%);
  --h2etc-color: hsl(170, 100%, 30%);
  --a-link: hsl(210, 100%, 60%);

  color: var(--main-fg);
  background-color: var(--main-background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
  margin: auto;
}
figcaption {
  font-family: monospace;
  font-size: 1.5em;
}
h1 {
  color: var(--h1-color);
  padding: 0.5em;
  font-family: fantasy;
}
h2, h3 {
  color: var(--h2etc-color);
  background-color: var(--h2etc-background);
}
a {
  color: var(--a-link);
  background-color: var(--card-background);
}
#main {
  text-align:center;
}
#image {
  display: block;
  border-radius: 6px;
  width: 70%;
  max-width: 100%;
  height: auto;
  margin: auto;
}
#tribute-info {
  width: 100%;
}
#pubs {
  clear: both;
}
#tribute-list-links {
  clear: both;
  width: 50%;
}
.about-item {
  width: 28%;
}
.card {
  background-color: var(--card-background);
  box-sizing: border-box;
  border: 1px solid var(--main-fg);
  border-radius: 6px;
}
.pub-article {
  width: 45%;
}
.pad-it, .about-item, .pub-article {
  margin: 1em;
  padding: 1em;
}
.left-floaty {
  float: left;
}
.right-floaty {
  float: right;
}
@media (max-width: 675px) {
  .about-item, .pub-article {
    float: none;
    width: 95%;
  }
  #tribute-list-links {
    width: 60%;
  }
}
